h1{
    font-weight: 700;
    font-size: 45px;
    margin: 10px ;
    margin-bottom: 25px;
}

input{
    width: 100%;
}

.row{
    text-align: left;
    margin: 10px;
}

button{
    min-width: 80px;
}
